<div class="container">
 <div id="signupbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
   <div class="panel panel-info">
     <div class="panel-heading">
       <div class="panel-title">Sign Up</div>
     </div>
     <div class="panel-body" >
       <%= form_for @user, html: { class: "form-horizontal" } do |f| %>
         <div class="form-group">
           <div class="col-md-12">
             <%= f.text_field :name, class: "form-control", placeholder: "name" %>
           </div>
         </div>
         <div class="form-group">
           <div class="col-md-12">
             <%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
           </div>
         </div>
         <div class="form-group">
           <div class="col-md-12">
             <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
           </div>
         </div>
         <div class="form-group">
           <div class="col-md-12">
             <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
           </div>
         </div>
         <div class="form-group">
           <div class="col-md-offset-3 col-md-9">
             <%= f.submit "Sign Up", class: "btn btn-info" %>
           </div>
         </div>
         <div class="form-group">
           <div class="col-md-12 control">
             <div class="already">
               Already have an account?
               <%= link_to "Login Here", login_path %>
             </div>
           </div>
         </div>
       <% end %>
     </div>
   </div>
 </div>
</div>
